{% extends "base.html" %}

{% block title %}Registro Usuario{% endblock %}

{% block content %}

<h1>Registro de Usuario</h1>

{% if error %}
  <p style="color: red;">{{ error }}</p>
{% endif %}

<form method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" required><br>

    <label for="email">Correo:</label>
    <input type="email" name="email" required><br>

    <label for="contrasena">Contraseña:</label>
    <input type="password" name="contrasena" required><br>

    <label for="rol">Rol:</label>
    <select name="rol" required>
        <option value="">Seleccionar</option>
        <option value="medico">Médico</option>
        <option value="paciente">Paciente</option>
        <option value="administrador">Administrador</option>
    </select><br>

    <button type="submit">Registrarse</button>
</form>

{% endblock %}
